body {
  background-color:#048BA8;
}

p {
  color: #99C34D;
  font-size: 25px;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  font-style: italic
}

h1 {
  font-size: 80px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #2E4057;
  margin: auto;
  width: 100%;
  padding: 15px;
  text-align: center;
}

h2 {
  font-size: 40px;
  font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #2E4057;
  margin: auto;
  width: 100%;
  padding: 15px;
  text-align: center;
}

.directions {
  color:bisque;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 40px;
  margin: auto;
  width: 100%;
  padding: 15px;
  text-align: center;
  
}

input {
  
  font-size: 30px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: white;
  padding: 3px;
  height: auto;
  width: 50%;
  border: 2px solid black;
  color: black;
}

.story {  
  background-color: aqua;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 35px;;
  color:#2E4057;
  margin: 1.5em 10px;
  padding: 3em, 10px, 10px;
}